.card {
  max-width: 345;
  margin-top: 1vh !important;
  text-align: left;
}

.linkText {
  text-decoration: none;
}

#lastBoard {
  margin-bottom: 15vh !important;
}

#firstBoard {
  margin-top: 10vh !important;
}