#CFS {
    text-align: center;
    /* padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(53, 53, 53);
    padding-bottom: 30%; */
}

#email-helper-text, #password-helper-text, #verifyPassword-helper-text {
    color: red
}