#inline {
    display: inline-flex;
    margin: 40px;
    margin-top: 70px;
    margin-bottom: 100px;
}

#slide {
    margin-top: 10vh;
    height: 80vh;
}

#picture {
    width: 40%;
}

#title {
    margin-top: 5%;
}

#para {
    padding-left: 5%;
    padding-right: 5%;
}